@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cormorant+SC&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    background-color:var(--primary-color);
    opacity: 0.8;
   /* background-color: #03366994;
    background-color: #06376888; */
    
}

ul {
    list-style-type: none;
    margin: 0 auto; 
    left: 50%; 
    margin-left: auto; 
    text-align: center;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
}

a:hover{
    color: #fff;    
    border-bottom: 3px solid #fff;
   
}

.nav-menu {
    display: flex;
}

.nav-item {
    padding: 1rem;
    
}

.hamburger {
    display: none;
}

/* Handling screen with max 940px*/
@media screen and (max-width: 940px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        justify-content: center;
        background-color: var(--primary-color);
        width:100%;
        height: 100%;
        text-align: center;
        transition: 0.4s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem;
        font-size: 5rem;
        justify-content: center;
    }

    .hamburger {
        display: flex;
    }
}