@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cormorant+SC&display=swap");

* {
  margin: 0;
  padding: 0;
}

.container-nav {
  position: fixed;
  width: 100vw;
  background-color: var(--primary-color);
  height: 90px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  transition: all 0.5s ease;
}

.links li a {
  text-decoration: none;
}

.links li a p {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Amatic SC", cursive;
  margin-bottom: 0;
  text-align: center;
}

.container-nav ul {
  list-style: none;
  padding: 0;
}

.container-nav ul li {
  background-color: var(--primary-color);
  color: #fff;
  width: 130px;
  height: 50px;
  line-height: 50px;
  float: left;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}

.container-nav ul ul ul li {
  width: 200px;
}

.container-nav ul li:hover {
  color: #fff;
  border-bottom: 3px solid #fff;
}

.container-nav ul ul {
  display: none;
  margin: 0px;
}

.container-nav ul li:hover > ul {
  display: block;
}

.container-nav ul ul ul {
  margin-left: 132px;
  width: auto;
  top: 0;
  position: absolute;
}

.links.active {
  width: auto;
  display: block;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  padding-left: 0;
}

@media (max-width: 1300px) {
  .links li a p {
    font-size: 1.5rem;
  }

  .container-nav ul li {
    width: 100px;
  }

  .container-nav ul ul ul li {
    width: 150px;
  }

  .container-nav ul ul ul{
    margin-left: 103px;
  }

}

@media (min-width: 980px) {
  .burguer {
    display: none;
  }
}

@media (max-width: 980px) {
  .links {
    display: none;
  }

  .container-nav {
    height: 75px;
  }

  .container-nav ul li {
    float: none;
    width: 100%;
  }

  .container-nav ul ul {
    padding-left: 0;
  }
  .container-nav ul ul ul {
    margin-left: 0;
    position: static;
  }
  .container-nav ul ul ul li {
    width: 100%;
  }
  
}
