:root{
  /* --primary-color: #6C63FF; 
  --primary-color: #0e04d8;
  --primary-color: #377dff;
  */
  --primary-color: #0d5e02;
  --second-color:#9bd394;
  --background-color: rgb(255 255 255 / 10%);
}

body {
  margin: 0;
  background-color: var(--background-color)
}

h1{
  font-weight: 900;
  font-size: 45px;
}

h2{
  font-weight: 700;
  font-size: 23px;
}

p{
  font-weight: 500;
  font-size: 21px;
}

a {
  font-weight: 900;
  font-size: 16px;
}