:root {
  --primary-color: #052ea0;
  --second-color: #5862ee;
  --tertiary: #0258f8;
  --background-color: rgb(255 255 255 / 10%);
  --tran-05: all 0.5s ease;
}

html,
body {
  font-family: "Centra", sans-serif !important;
  margin: 0;
  background-color: var(--background-color);
}