.dash-content {
  padding-top: 50px;
}

.dash-content .title {
  display: flex;
  align-items: center;
  margin: 60px 0 30px 0;
}

.dash-content .title i {
  position: relative;
  height: 35px;
  width: 35px;
  background-color: var(--primary-color);
  border-radius: 6px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.dash-content .title .text {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin-left: 10px;
}

.dash-content .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dash-content .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: calc(100% / 4 - 15px);
  padding: 15px 20px;
  background-color: var(--primary-color);
  transition: var(--tran-05);
}

.boxes .box i {
  font-size: 35px;
  color: #fff;
}

.boxes .box .text {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.boxes .box .number {
  font-size: 35px;
  font-weight: 500;
  color: #fff;
}

.boxes .box.box1 {
  background-color: rgb(245, 91, 80);
}

.boxes .box.box2 {
  background-color: rgb(90, 145, 247);
}

.boxes .box.box3 {
  background-color: rgba(252, 248, 7, 0.815);
}

.boxes .box.box4 {
  background-color: rgba(28, 185, 7, 0.678);
}

.table-dash{
  padding-bottom: 40px;
}

.table-dash table tr{
  transition: all .2s ease-in;
  cursor: pointer;
}

.table-dash table tr:hover{
  transform: scale(1.02);
  box-shadow: 2px 2px 12px var(--primary-color);;
}

@media (max-width: 880px) {
  .dash-content .boxes .box {
    width: calc(100% / 2 - 15px);
    margin-top: 15px;
  }
  .table th p{
    font-size: 18px;
  }
  .table td p{
    font-size: 15px;
  }
}
