.container-cliente {
  height: auto;
  padding-top: 0;
  padding-bottom: 150px;
  padding-right: 1%;
  padding-left: 1%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.container-cliente h1 {
  text-align: center;
  padding-bottom: 5%;
}

.container-cliente p {
  text-align: center;
  padding-bottom: 5%;
  color: #fff;
}

.container-cliente .btn {
  margin-bottom: 5%;
  margin-right: 2%;
  background-color: var(--primary-color);
  color: #fff;
}

.container-cliente .table th {
  background-color: var(--primary-color);
  border: 1px solid #fff;
}

.container-cliente table td {
  padding: 12px;
  border: 1px solid #fff;
  text-align: center;
}

.container-cliente table th {
  padding: 12px;
  border: 1px solid #fff;
  text-align: center;
}

.container-cliente img {
  margin-left: 25%;
  width: 45%;
  padding-top: 5%;
}

.table tbody tr:nth-child(even) {
  background-color: rgb(48, 46, 46);
}

.pf-pj {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

@media only screen and (max-width: 768px),
  (min-device-width: 768px) and (max-device-width: 992px) {
  .container-cliente {
    width: 100%;
    background: transparent;
  }

  .container-cliente table {
    display: block;
  }
  .container-cliente thead {
    display: block;
  }
  .container-cliente tbody {
    display: block;
  }
  .container-cliente th {
    display: block;
  }

  .container-cliente tr {
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 75px;
  }
  .container-cliente thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .container-cliente td {
    display: block;
    border: none;
    border-bottom: 1px solid #eee;
    position: static;
  }
  .container-cliente td::before {
    position: static;
    white-space: nowrap;
    font-size: 23px;
    font-weight: 600;
    color: #fff;
  }

  .container-cliente td:nth-of-type(1)::before {
    content: "Id:";
  }

  .container-cliente td:nth-of-type(2)::before {
    content: "Nome:";
  }

  .container-cliente td:nth-of-type(3)::before {
    content: "Rua:";
  }

  .container-cliente td:nth-of-type(4)::before {
    content: "Numero:";
  }

  .container-cliente td:nth-of-type(5)::before {
    content: "Bairro:";
  }

  .container-cliente td:nth-of-type(6)::before {
    content: "Cidade:";
  }

  .container-cliente td:nth-of-type(7)::before {
    content: "Estado:";
  }

  .container-cliente td:nth-of-type(8)::before {
    content: "Cep:";
  }
  .container-cliente td:nth-of-type(9)::before {
    content: "Açes:";
  }

  .container-cliente .btn {
    margin-top: 20px;
  }

  .container-cliente .p_td {
    padding-bottom: 0%;
    font-size: 20px;
  }
}
