.container-cliente {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding-top: 5%;
}

.container-cliente .btn {
     background-color: var(--primary-color);
     color: #fff;
     margin-left: 100px;
     margin-bottom: 50px;
   }

.container-cliente img{
    width: 60%;
    padding-top: 10%;
  }
