.dashboard-container {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 0;
}

.dashboard-text {
  font-size: 24px;
  font-weight: 500;
  color: var(--text);
}

.dashboard-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dashboard-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: calc(100% / 2 - 15px);
  padding: 15px 20px;
  margin-bottom: 20px;
  transition: var(--tran-05);
}

.dashboard-boxes .dashboard-box i {
  font-size: 35px;
  color: var(--text);
}

.dashboard-boxes .dashboard-box .dashboard-text {
  white-space: nowrap;
  font-size: 18px;
  color: var(--text);
}

.dashboard-number {
  font-size: 28px;
  color: var(--text);
}

.dashboard-container .dashboard-box.box1 {
  background-color: var(--primary-color);
}

.dashboard-container .dashboard-box.box2 {
  background-color: var(--second-color);
}

.dashboard-container .dashboard-box.box3 {
  background-color: var(--text);
}

.dashboard-container .dashboard-box.box4 {
  background-color: #35a792;
}

.dashboard-box .dashboard-text.sale {
  color: #fff;
}

.dashboard-number.sale {
  color: #fff;
}

.dashboard-box.sale i {
  color: #fff;
}

@media (min-width: 768px) {
  .dashboard-box {
    width: calc(100% / 4 - 15px);
    margin-top: 15px;
  }
}
