.error404-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: auto;
  text-align: center;
}

.error404-container h1,
.error404-container h2,
.error404-container p {
  color: var(--text);
  font-family: "Poppins", sans-serif;
}

.error404-container h1 {
  font-size: 50px;
  font-weight: 900;
}

.error404-container h2 {
  font-size: 26px;
  font-weight: 600;
}

@media (min-width: 992px) {
  .error404-container h1 {
    font-size: 100px;
  }

  .error404-container h2 {
    font-size: 40px;
    font-weight: 600;
  }
}
