.container-compra{
  height: auto;
  padding-top: 0;
  padding-bottom: 150px;
  padding-right: 1%;
  padding-left: 1%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.container-compra h1 {
  text-align: center;
  padding-bottom: 5%;
}

.container-compra p {
  text-align: center;
  padding-bottom: 0;
  color: #fff;
}
    
.container-compra img {
  margin-left: 25%;
  width: 40%;
  padding-top: 5%;
}

.container-compra .btn {
  background-color: var(--primary-color);
  color: #fff;
  margin-bottom: 5%;
  margin-right: 2%;
}
  