.container-venda {
  display: flex;
  flex-direction: column;
  height: auto;
  padding-top: 0;
  padding-right: 1%;
  padding-left: 1%;
}

.container-venda h1 {
  text-align: center;
  padding-bottom: 5%;
}

.container-venda p {
  text-align: center;
  padding-bottom: 0;
  color: #fff;
}

.container-venda img {
  margin-left: 25%;
  width: 40%;
  padding-top: 5%;
}

.container-venda .btn {
  margin-bottom: 5%;
  margin-right: 2%;
  width: 15%;
  background-color: var(--primary-color);
  color: #fff;
}
