.footer {
    padding: 0 0 0 0;
    background: var(--primary-color);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}
 
  .footer img {
    width: 30%;
}
  .footer p {
    margin-left: 1%;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.5px;
    margin-top: 2px;
  }

.social-icon {
    display: inline-block;
    margin-top: 5%;

}
.social-icon a {
    width: 60px;
    height: 60px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 80%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}