.footer {
  bottom: 0;
  width: 100%;
  background: var(--primary-color);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  height:1%;
}

.footer img {
  width: 25%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.5px;
  margin-top: 2px;
}

.social-icon {
  display: inline-block;
  margin-top: 5%;
  margin-right: 6%;
}
.social-icon a {
  width: 50px;
  height: 50px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a:hover i {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}

.social-icon a i{
  transition: 0.3s ease-in-out;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

@media (max-width: 890px) {
  .footer .img-logo img{
    width: 40%;
  }
 
}

@media (max-width: 580px) {
  .img-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
  }
  .footer .img-logo img{
    margin-right: 6%;
  }
  .social-icon {
    margin-right: 0;
  }
}